Temp/
Library/
.vscode
*.svd
*.userprefs
cosmiculture-game/*.csproj
*.pidb
*.suo
cosmiculture-game/*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Cosmiculture.app
Cosmiculture.exe
